flow.json
[
    {
        "id": "9dea0b26.bbbe98",
        "type": "tab",
        "label": "Grainfather Connect",
        "disabled": false,
        "info": ""
    },
    {
        "id": "355d7d12.6d7412",
        "type": "ui_tab",
        "z": "",
        "name": "GF Connect",
        "icon": "fa-chain",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "321f8fea.8d69d",
        "type": "ui_group",
        "z": "",
        "name": "Raw Messages",
        "tab": "355d7d12.6d7412",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35c55f1f.67b1",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1df37c54.681d74",
        "type": "ui_group",
        "z": "",
        "name": "Main Control",
        "tab": "355d7d12.6d7412",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "48a38e5e.ad6eb",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9188a2e.55c2a8",
        "type": "ui_group",
        "z": "",
        "name": "Connection",
        "tab": "48a38e5e.ad6eb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8225a265.09c9b",
        "type": "ui_group",
        "z": "",
        "name": "Timer",
        "tab": "355d7d12.6d7412",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3f80edac.961f72",
        "type": "Generic BLE",
        "z": "",
        "localName": "Grain",
        "address": "bb:a0:50:0e:0a:12",
        "uuid": "bba0500e0a12",
        "muteNotifyEvents": false,
        "operationTimeout": "",
        "characteristics": []
    },
    {
        "id": "406b755.e721a8c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1df37c54.681d74",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3f2ec24.29c96",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.characteristics[\"0003cdd100001000800000805f9b0131\"]",
        "targetType": "msg",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "d2eeaa0a.f44ab8",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "E",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "T",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "V",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "W",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Y",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 12,
        "x": 1530,
        "y": 280,
        "wires": [
            [
                "efbe3f05.d87f2"
            ],
            [
                "a34e3d37.c0939"
            ],
            [
                "84deb30e.2da68"
            ],
            [
                "b42404c3.ad47c8"
            ],
            [
                "e9c8c4ea.a08158",
                "6cc6d902.576598"
            ],
            [
                "c8b01438.50c4f8"
            ],
            [
                "4cf2931f.a6b6fc",
                "a8c00bf5.937f48"
            ],
            [
                "4df96f3.1727b9",
                "d6756a8c.6a8ee8"
            ],
            [
                "cab7e49e.1f8b68",
                "db424521.23c928"
            ],
            [
                "33f8c2c3.008bee",
                "ff72ff6f.df808"
            ],
            [
                "5bc571d1.43af",
                "b7dc68c4.dcdc98"
            ],
            [
                "2133a47e.5d109c",
                "411c53b4.5f7cbc"
            ]
        ]
    },
    {
        "id": "33f8c2c3.008bee",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 420,
        "wires": []
    },
    {
        "id": "5bc571d1.43af",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 460,
        "wires": []
    },
    {
        "id": "4cf2931f.a6b6fc",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "T",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8b01438.50c4f8",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "I",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 260,
        "wires": []
    },
    {
        "id": "cab7e49e.1f8b68",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "W",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 380,
        "wires": []
    },
    {
        "id": "84deb30e.2da68",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 140,
        "wires": []
    },
    {
        "id": "efbe3f05.d87f2",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "A",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 60,
        "wires": []
    },
    {
        "id": "a34e3d37.c0939",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 100,
        "wires": []
    },
    {
        "id": "b42404c3.ad47c8",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "E",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf0ea885.b26888",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode response",
        "func": "var raw = msg.payload.characteristics[\"0003cdd100001000800000805f9b0131\"].toString();\n\nif(raw.length > 1) {\n    msg.message = raw.substr(0, 1);\n    \n    var n = raw.indexOf(\"Z\");\n    var trimmed = raw;\n    if(n != -1) {\n        trimmed = raw.substring(1, n - 1);\n    }\n    else {\n        trimmed = raw.substring(1, raw.length - 1);\n    }\n    \n    msg.parameters = trimmed.split(\",\");\n}\n\nmsg.payload = raw;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "d2eeaa0a.f44ab8",
                "edd54130.402e4",
                "a0467867.1033e8",
                "5b7a230a.cce58c"
            ]
        ]
    },
    {
        "id": "edd54130.402e4",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "f6b97fc6.07873",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Initialize Raw",
        "topic": "",
        "payload": " ",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1670,
        "y": 60,
        "wires": [
            [
                "1f325fe7.4f74"
            ]
        ]
    },
    {
        "id": "2133a47e.5d109c",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Unknown",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2140,
        "y": 500,
        "wires": []
    },
    {
        "id": "411c53b4.5f7cbc",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 540,
        "wires": []
    },
    {
        "id": "ff72ff6f.df808",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Temperature",
        "func": "var targetTemp = msg.parameters[0];\nvar currentTemp = msg.parameters[1];\n\n// Grainfather set target temp to 120 °C during boil\nif(targetTemp > 100.0) {\n    targetTemp = 100.0;\n}\nnode.send([{'payload':targetTemp},null, null]);\nnode.send([null,{'payload':currentTemp}, null]);\n\nvar payload = {};\ntemperature_unit = flow.get('temperature_unit');\nif(temperature_unit === 'F') {\n    targetTemp = (targetTemp * 9 / 5) + 32;\n    currentTemp = (currentTemp * 9 / 5) + 32;\n}\n\npayload.temperature_unit = temperature_unit;\npayload.targetTemp = Number(targetTemp).toFixed(0);\npayload.currentTemp = Number(currentTemp).toFixed(1);\n\nmsg.payload = payload;\nnode.send([null, null, msg]);\n//return msg;",
        "outputs": 3,
        "noerr": 0,
        "x": 1960,
        "y": 920,
        "wires": [
            [],
            [],
            [
                "a8a28b0b.dc3ba8"
            ]
        ],
        "outputLabels": [
            "target",
            "current",
            "all"
        ]
    },
    {
        "id": "a8c00bf5.937f48",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Timer",
        "func": "function zeropad(num) {\n    var s = \"0\" + num;\n    return s.substr(s.length - 2);\n}\n\nvar timerActive = Boolean(msg.parameters[0] === \"1\");\nvar timerLeftMins = 0;\nvar timerStartMins = 0;\nvar timerLeftSecs = 0;\nvar timerFormatted = \"--\";\n\nif(timerActive) {\n    timerLeftSecs = Number(msg.parameters[3]);\n    timerLeftMins = Number(msg.parameters[1]) - 1 + Math.floor(timerLeftSecs / 60);\n    timerStartMins = Number(msg.parameters[2]);\n    timerLeftSecs = timerLeftSecs % 60;\n    if(timerLeftMins <= 59) {\n        timerFormatted = timerLeftMins.toString() + \":\" + zeropad(timerLeftSecs);\n    }\n    else {\n        var hours = Math.floor(timerLeftMins / 60);\n        var mins = timerLeftMins % 60;\n        timerFormatted = hours.toString() + \":\" + zeropad(mins) + \":\" + zeropad(timerLeftSecs);\n        //timerFormatted = \"_:__:__\";\n    }\n}\n\nnode.send([{'payload':timerActive}, null, null, null, null]);\nnode.send([null, {'payload':timerStartMins}], null, null, null);\nnode.send([null, null, {'payload':timerLeftMins}], null, null);\nnode.send([null, null, null, {'payload':timerLeftSecs}], null);\nnode.send([null, null, null, null, {'payload':timerFormatted}]);\n\n//return msg;",
        "outputs": 5,
        "noerr": 0,
        "x": 2080,
        "y": 660,
        "wires": [
            [],
            [],
            [],
            [],
            [
                "85deae7f.7cd6b"
            ]
        ],
        "outputLabels": [
            "active",
            "total",
            "mins",
            "secs",
            "formatted"
        ]
    },
    {
        "id": "b7dc68c4.dcdc98",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Status (Y)",
        "func": "var heatPower = Boolean(msg.parameters[0] === \"1\");\nvar pumpPower = Boolean(msg.parameters[1] === \"1\");\nvar autoMode = Boolean(msg.parameters[2] === \"1\");\nvar stageRamp = Boolean(msg.parameters[3] === \"1\");\nvar interactionMode = Boolean(msg.parameters[4] === \"1\");\nvar interactionCode = msg.parameters[5];\nvar stageNumber = Number(msg.parameters[6]);\nvar delayedHeat = Boolean(msg.parameters[7] === \"1\");\n\nnode.send([{'payload':heatPower}, null, null, null, null, null, null, null]);\nnode.send([null, {'payload':pumpPower}, null, null, null, null, null, null]);\nnode.send([null, null, {'payload':autoMode}, null, null, null, null, null]);\nnode.send([null, null, null, {'payload':stageRamp}, null, null, null, null]);\nnode.send([null, null, null, null, {'payload':interactionMode}, null, null, null]);\nnode.send([null, null, null, null, null, {'payload':interactionCode}, null, null]);\nnode.send([null, null, null, null, null, null, {'payload':stageNumber}, null]);\nnode.send([null, null, null, null, null, null, null, {'payload':delayedHeat}]);\n\n//return msg;",
        "outputs": 8,
        "noerr": 0,
        "x": 1850,
        "y": 1080,
        "wires": [
            [
                "a8a972b4.9eef5"
            ],
            [
                "2ceaf8ac.c4b598"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "heat power",
            "pump status",
            "auto mode",
            "stage ramp",
            "interaction mode",
            "interaction code",
            "stage number",
            "delayed heat"
        ]
    },
    {
        "id": "77e120cb.3a7ec",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "group": "1df37c54.681d74",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Pump",
        "tooltip": "",
        "color": "#FFFFFF",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "P",
        "payloadType": "str",
        "topic": "",
        "x": 2430,
        "y": 1120,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "2752d604.f66c0a",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "group": "1df37c54.681d74",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Heat",
        "tooltip": "",
        "color": "#FFFFFF",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "",
        "x": 2430,
        "y": 1040,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "36967178.bc09fe",
        "type": "ui_level",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "order": 5,
        "width": 1,
        "height": 3,
        "name": "Heat Level",
        "label": "",
        "colorHi": "#00b33c",
        "colorWarn": "#00b33c",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "peaktime": 3000,
        "x": 2290,
        "y": 820,
        "wires": []
    },
    {
        "id": "db424521.23c928",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Status (W)",
        "func": "var heatPowerPct = Number(msg.parameters[0]);\nvar timerPaused = Boolean(msg.parameters[1] === \"1\");\nvar stepMashMode = Boolean(msg.parameters[2] === \"1\");\nvar recipeInterrupted = Boolean(msg.parameters[3] === \"1\");\nvar manualPower = Boolean(msg.parameters[4] === \"1\");\nvar spargeWaterAlert = Boolean(msg.parameters[5] === \"1\");\n\nnode.send([{'payload':heatPowerPct}, null, null, null, null, null]);\nnode.send([null, {'payload':timerPaused}, null, null, null, null]);\nnode.send([null, null, {'payload':stepMashMode}, null, null, null]);\nnode.send([null, null, null, {'payload':recipeInterrupted}, null, null]);\nnode.send([null, null, null, null, {'payload':manualPower}, null]);\nnode.send([null, null, null, null, null, {'payload':spargeWaterAlert}]);\n\n//return msg;",
        "outputs": 6,
        "noerr": 0,
        "x": 1990,
        "y": 820,
        "wires": [
            [
                "36967178.bc09fe",
                "f693bae1.855238"
            ],
            [],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "heat power pct",
            "timer paused",
            "step mash mode",
            "recipe interrupted",
            "manual power",
            "sparge water alert"
        ]
    },
    {
        "id": "a49530b4.09b39",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "order": 3,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Heat",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2390,
        "y": 780,
        "wires": []
    },
    {
        "id": "f693bae1.855238",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Format display",
        "func": "if(msg.payload === 0) {\n    msg.payload = \"Off\";\n}\nelse {\n    msg.payload = msg.payload + \"%\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2220,
        "y": 780,
        "wires": [
            [
                "a49530b4.09b39"
            ]
        ]
    },
    {
        "id": "a8a972b4.9eef5",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2090,
        "y": 1040,
        "wires": [
            [
                "8bb616a.62b5ee8"
            ],
            [
                "bb2dab1a.27cec8"
            ]
        ]
    },
    {
        "id": "8bb616a.62b5ee8",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Heat On",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#DD0000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1020,
        "wires": [
            [
                "2752d604.f66c0a"
            ]
        ]
    },
    {
        "id": "bb2dab1a.27cec8",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Heat Off",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#595959",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1060,
        "wires": [
            [
                "2752d604.f66c0a"
            ]
        ]
    },
    {
        "id": "2ceaf8ac.c4b598",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2090,
        "y": 1120,
        "wires": [
            [
                "bb4f926c.9206e"
            ],
            [
                "eb1126f9.7cfe58"
            ]
        ]
    },
    {
        "id": "bb4f926c.9206e",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Pump On",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#00BB00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1100,
        "wires": [
            [
                "77e120cb.3a7ec"
            ]
        ]
    },
    {
        "id": "eb1126f9.7cfe58",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Pump Off",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#595959",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1140,
        "wires": [
            [
                "77e120cb.3a7ec"
            ]
        ]
    },
    {
        "id": "24c60883.250118",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "cf0ea885.b26888"
            ]
        ]
    },
    {
        "id": "26bae695.25082a",
        "type": "ui_switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "label": "Connect automatically",
        "tooltip": "",
        "group": "d9188a2e.55c2a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 860,
        "y": 240,
        "wires": [
            [
                "85a75268.f463e"
            ]
        ]
    },
    {
        "id": "bc38eefe.ada82",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "group": "d9188a2e.55c2a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "connect",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "2a13b630.b9e87a"
            ]
        ]
    },
    {
        "id": "c9ea0ca5.44f82",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "d9188a2e.55c2a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 500,
        "wires": []
    },
    {
        "id": "a0467867.1033e8",
        "type": "trigger",
        "z": "9dea0b26.bbbe98",
        "op1": "",
        "op2": "disconnected",
        "op1type": "nul",
        "op2type": "str",
        "duration": "15",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "disconnect after 15 secs",
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "5b7a230a.cce58c",
                "c9ea0ca5.44f82",
                "96f0c2.6fd37f4"
            ]
        ]
    },
    {
        "id": "5b7a230a.cce58c",
        "type": "trigger",
        "z": "9dea0b26.bbbe98",
        "op1": "connected",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "15",
        "extend": true,
        "units": "s",
        "reset": "disconnected",
        "bytopic": "all",
        "name": "connected",
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "c9ea0ca5.44f82",
                "96f0c2.6fd37f4",
                "7d31754e.df9bcc"
            ]
        ]
    },
    {
        "id": "d9018eca.ca9e9",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Initialize",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "5e825722.30d588",
                "fbd65c91.f4f7a",
                "d1a86442.7b18f8"
            ]
        ]
    },
    {
        "id": "5e825722.30d588",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "disconnected",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disconnected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "c9ea0ca5.44f82",
                "853fd41f.fb4a28"
            ]
        ]
    },
    {
        "id": "2a13b630.b9e87a",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notify\":true,\"period\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "b79bbad8.1ee5f8"
            ]
        ]
    },
    {
        "id": "fbd65c91.f4f7a",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Set defaults",
        "func": "var defaults_set = flow.get('defaults_set') || false;\nif(defaults_set === false) {\n    flow.set('auto_connect', false);\n    flow.set('temperature_unit', 'C');\n    flow.set('defaults_set', true);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "96bf6cb3.8e68c"
            ]
        ]
    },
    {
        "id": "96bf6cb3.8e68c",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto_connect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "26bae695.25082a"
            ]
        ]
    },
    {
        "id": "4431c780.445d38",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Connect",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "b0c3c34b.8e94"
            ]
        ]
    },
    {
        "id": "b0c3c34b.8e94",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Auto connect",
        "func": "var auto_connect = flow.get('auto_connect') || false;\nvar connected = (flow.get('connection') === \"connected\") || false;\n\nif(auto_connect && !connected) {\n    msg.payload = \"auto connect\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "2a13b630.b9e87a"
            ]
        ]
    },
    {
        "id": "85a75268.f463e",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auto_connect",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "b0c3c34b.8e94"
            ]
        ]
    },
    {
        "id": "853fd41f.fb4a28",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "name": "BLE icon",
        "order": 1,
        "width": 1,
        "height": 1,
        "format": "<div>\n<ng-md-icon ng-if=\"msg.payload === 'connected'\" icon=\"bluetooth\" size=\"40\"></ng-md-icon>\n<!-- <ng-md-icon ng-if=\"msg.payload === 'disconnected'\" icon=\"bluetooth_disabled\" size=\"40\"></ng-md-icon> -->\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1520,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "96f0c2.6fd37f4",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 560,
        "wires": [
            [
                "853fd41f.fb4a28"
            ]
        ]
    },
    {
        "id": "b79bbad8.1ee5f8",
        "type": "Generic BLE in",
        "z": "9dea0b26.bbbe98",
        "name": "Grainfather Read",
        "genericBle": "3f80edac.961f72",
        "useString": false,
        "notification": true,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "b3f2ec24.29c96",
                "24c60883.250118"
            ]
        ]
    },
    {
        "id": "bce0ab71.378748",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Format GF command",
        "func": "function pad(str) {\n    while(str.length < 19) {\n        str = str + \" \";\n    }\n    return str;\n}\n\nvar command = Buffer.from(pad(msg.payload)).toString('hex');\n\nvar payload = {\"0003cdd200001000800000805f9b0131\":command};\nmsg.payload = payload;\n//msg.payload = JSON.stringify(payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3060,
        "y": 980,
        "wires": [
            [
                "fa3b9cc2.52978",
                "4af1ed2.902d914"
            ]
        ]
    },
    {
        "id": "28188956.6c5066",
        "type": "Generic BLE out",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "genericBle": "3f80edac.961f72",
        "x": 3430,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fa3b9cc2.52978",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3310,
        "y": 940,
        "wires": []
    },
    {
        "id": "1f325fe7.4f74",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Clear All",
        "group": "321f8fea.8d69d",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Clear All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "",
        "x": 1840,
        "y": 60,
        "wires": [
            [
                "efbe3f05.d87f2",
                "a34e3d37.c0939",
                "84deb30e.2da68",
                "b42404c3.ad47c8",
                "c8b01438.50c4f8",
                "4cf2931f.a6b6fc",
                "cab7e49e.1f8b68",
                "33f8c2c3.008bee",
                "5bc571d1.43af",
                "2133a47e.5d109c",
                "e9c8c4ea.a08158",
                "4df96f3.1727b9"
            ]
        ]
    },
    {
        "id": "8a41ea03.659918",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Get current boil temp",
        "topic": "",
        "payload": "M",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2880,
        "y": 400,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "a8a28b0b.dc3ba8",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "name": "Temperature",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<style>\n    .nr-dashboard-template h1 {\n    font-size: .875em;\n    font-weight: normal;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n    .nr-dashboard-template h2 {\n    font-size: 3.5em;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: .1;\n    }\n    \n   \n   div {\n    max-width: 100%;\n   }\n   \n   a:link {\n    color: white; \n    background-color: transparent; \n    text-decoration: none;\n}\n\na:visited {\n    color: white;\n    background-color: transparent;\n    text-decoration: none;\n}\n\n#Temperature-Display-Div {\n    visibility: visible;\n   }  \n</style>\n\n<div id = \"Temperature-Display-Div\">\n<h1>Temperature (°{{msg.payload.temperature_unit}})</h1>\n<h2>{{msg.payload.currentTemp}}</h2>\n<h1>Target (°{{msg.payload.temperature_unit}})</h1>\n<h2>{{msg.payload.targetTemp}}</h2>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2290,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6cb11f95.fde87",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Send multiple commands",
        "func": "msg.payload.forEach(sendCommand);\n\nfunction sendCommand(item) {\n  node.send([{'payload':item}]);\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2670,
        "y": 920,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "79bbb1df.ad06",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Get controller settings",
        "func": "msg.payload = ['g', 'X'];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1520,
        "y": 800,
        "wires": [
            [
                "6cb11f95.fde87"
            ]
        ]
    },
    {
        "id": "7d31754e.df9bcc",
        "type": "delay",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1310,
        "y": 800,
        "wires": [
            [
                "79bbb1df.ad06"
            ]
        ]
    },
    {
        "id": "4af1ed2.902d914",
        "type": "delay",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 3270,
        "y": 1000,
        "wires": [
            [
                "28188956.6c5066"
            ]
        ]
    },
    {
        "id": "e9c8c4ea.a08158",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "F",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 220,
        "wires": []
    },
    {
        "id": "4df96f3.1727b9",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 340,
        "wires": []
    },
    {
        "id": "6cc6d902.576598",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Firmware",
        "func": "var firmware = Number(msg.parameters[0]);\nnode.send({'payload':firmware});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2090,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d6756a8c.6a8ee8",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode voltage and units",
        "func": "var voltage = msg.parameters[0];\nvar units = msg.parameters[1];\n\nnode.send([{'payload':voltage},null]);\nnode.send([null,{'payload':units}]);\n\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 2050,
        "y": 720,
        "wires": [
            [],
            [
                "91c7a2c6.a3d6d"
            ]
        ],
        "outputLabels": [
            "voltage",
            "units"
        ]
    },
    {
        "id": "91c7a2c6.a3d6d",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Set flow.temperature_unit",
        "func": "if(msg.payload === '0') {\n    flow.set('temperature_unit', 'F');\n}\nelse {\n    flow.set('temperature_unit', 'C');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "85deae7f.7cd6b",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "8225a265.09c9b",
        "name": "Timer",
        "order": 1,
        "width": 6,
        "height": 2,
        "format": "<style>\n    .nr-dashboard-template h1 {\n    font-size: .875em;\n    font-weight: normal;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n    .nr-dashboard-template h2 {\n    font-size: 3.5em;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: .1;\n    }\n    \n   \n   div {\n    max-width: 100%;\n   }\n   \n   a:link {\n    color: white; \n    background-color: transparent; \n    text-decoration: none;\n}\n\na:visited {\n    color: white;\n    background-color: transparent;\n    text-decoration: none;\n}\n\n#Timer-Display-Div {\n    visibility: visible;\n   }  \n</style>\n\n<div id = \"Timer-Display-Div\">\n<h2>{{msg.payload}}</h2>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2550,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9f4f2aaf.39d9a8",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Arrow Up",
        "group": "1df37c54.681d74",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "#595959",
        "icon": "expand_less",
        "payload": "U",
        "payloadType": "str",
        "topic": "",
        "x": 2660,
        "y": 820,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "b178a5fb.a4ab68",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Arrow Down",
        "group": "1df37c54.681d74",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "#595959",
        "icon": "expand_more",
        "payload": "D",
        "payloadType": "str",
        "topic": "",
        "x": 2670,
        "y": 860,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "8d412b05.7d2508",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Hide Raw Messages",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"GF_Connect_Raw_Messages\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 2360,
        "y": 60,
        "wires": [
            [
                "641fed3f.0bb3b4"
            ]
        ]
    },
    {
        "id": "641fed3f.0bb3b4",
        "type": "ui_ui_control",
        "z": "9dea0b26.bbbe98",
        "name": "Raw Messages Group",
        "x": 2620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bc89f6ab.f1fe48",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Show Raw Messages",
        "topic": "",
        "payload": "{\"group\":{\"show\":[\"GF_Connect_Raw_Messages\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2360,
        "y": 100,
        "wires": [
            [
                "641fed3f.0bb3b4"
            ]
        ]
    },
    {
        "id": "d1a86442.7b18f8",
        "type": "link out",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "b2f36278.67c2b",
            "9ba75d3a.6302f"
        ],
        "x": 315,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2f36278.67c2b",
        "type": "link in",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "d1a86442.7b18f8"
        ],
        "x": 1915,
        "y": 980,
        "wires": [
            [
                "bb2dab1a.27cec8",
                "eb1126f9.7cfe58",
                "599bb149.3e0ac"
            ]
        ]
    },
    {
        "id": "e17eb87a.f8de18",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "--",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2380,
        "y": 640,
        "wires": [
            [
                "85deae7f.7cd6b"
            ]
        ]
    },
    {
        "id": "9ba75d3a.6302f",
        "type": "link in",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "d1a86442.7b18f8"
        ],
        "x": 2255,
        "y": 640,
        "wires": [
            [
                "e17eb87a.f8de18"
            ]
        ]
    },
    {
        "id": "599bb149.3e0ac",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"targetTemp\":\"--\",\"currentTemp\":\"--\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 980,
        "wires": [
            [
                "a8a28b0b.dc3ba8"
            ]
        ]
    },
    {
        "id": "5ff76da9.ada754",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Simple test recipe",
        "func": "var testRecipe = [\n    \"R10,1,5,6,\", // 10 min boil, 1 mash step, 5L mash vol, 6 L sparge vol\n    \"0,0,0,0,0,\", // No water tratment alert, no sparge counter, no sparge alert, no delayed session, do not skip start\n    \"SIMPLE TEST\", // Name of recipe\n    \"0,1,0,0,\", // No hop stand, 1 boil addition, no boil power mode, no strike temp mode\n    \"5\", // Boil addition 1 at 5 mins remaining\n    \"25:5,\" // Mash step 1, 25°C for 5 mins\n    ];\nmsg.payload = testRecipe;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2480,
        "y": 240,
        "wires": [
            [
                "46b9479a.5828e8",
                "6cb11f95.fde87"
            ]
        ]
    },
    {
        "id": "b8df316.e3d76d",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2300,
        "y": 240,
        "wires": [
            [
                "5ff76da9.ada754"
            ]
        ]
    },
    {
        "id": "46b9479a.5828e8",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2680,
        "y": 240,
        "wires": []
    },
    {
        "id": "23588e4f.8411d2",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Set boil temp 25°C",
        "topic": "",
        "payload": "E25.0,",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2890,
        "y": 320,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "d25d9d1d.af548",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Set boil temp 99.5°C",
        "topic": "",
        "payload": "E99.5,",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2890,
        "y": 360,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    }
]