flow.json
[
    {
        "id": "9dea0b26.bbbe98",
        "type": "tab",
        "label": "Grainfather Connect",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d59d092.50859",
        "type": "subflow",
        "name": "List Files",
        "info": "# List files\n\nWill list files in a directory.\n\nPath can be set in `msg.payload` or by setting the `DIRECTORY` environment variable.\n\nExtensions can be filtered by settings the `EXTENSIONS` environment variable to an Array of extensions.\n",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "3e5f9707.3cbcf8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 40,
                "wires": [
                    {
                        "id": "e6de39b0.e2c978",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DIRECTORY",
                "type": "str",
                "value": ""
            },
            {
                "name": "EXTENSIONS",
                "type": "json",
                "value": "[]"
            }
        ]
    },
    {
        "id": "e3bbcfee.5583",
        "type": "subflow",
        "name": "File Upload",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1140,
                "y": 280,
                "wires": [
                    {
                        "id": "91064a7c.e7d998",
                        "port": 0
                    },
                    {
                        "id": "623624a2.675eac",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "UPLOAD_DIR",
                "type": "str",
                "value": "."
            },
            {
                "name": "EXTENSIONS",
                "type": "json",
                "value": "[]"
            }
        ],
        "color": "#DDAA99",
        "outputLabels": [
            "fileWritten"
        ]
    },
    {
        "id": "355d7d12.6d7412",
        "type": "ui_tab",
        "z": "",
        "name": "GF Connect",
        "icon": "fa-chain",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "321f8fea.8d69d",
        "type": "ui_group",
        "z": "",
        "name": "Raw Messages",
        "tab": "355d7d12.6d7412",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35c55f1f.67b1",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1df37c54.681d74",
        "type": "ui_group",
        "z": "",
        "name": "Main Control",
        "tab": "355d7d12.6d7412",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "48a38e5e.ad6eb",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9188a2e.55c2a8",
        "type": "ui_group",
        "z": "",
        "name": "Connection",
        "tab": "48a38e5e.ad6eb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8225a265.09c9b",
        "type": "ui_group",
        "z": "",
        "name": "Timer",
        "tab": "355d7d12.6d7412",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3f80edac.961f72",
        "type": "Generic BLE",
        "z": "",
        "localName": "Grain",
        "address": "bb:a0:50:0e:0a:12",
        "uuid": "bba0500e0a12",
        "muteNotifyEvents": false,
        "operationTimeout": "",
        "characteristics": []
    },
    {
        "id": "486b3eb4.b3723",
        "type": "ui_group",
        "z": "",
        "name": "Notifications",
        "tab": "48a38e5e.ad6eb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6500c5a.452263c",
        "type": "ui_group",
        "z": "",
        "name": "File upload",
        "tab": "930c0a18.6b4938",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "930c0a18.6b4938",
        "type": "ui_tab",
        "z": "",
        "name": "Brewfather",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5a19c4db.dbdd2c",
        "type": "ui_group",
        "z": "",
        "name": "Brew Session",
        "tab": "355d7d12.6d7412",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c21fdba.2b6a34",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1df37c54.681d74",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3f2ec24.29c96",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.characteristics[\"0003cdd100001000800000805f9b0131\"]",
        "targetType": "msg",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "d2eeaa0a.f44ab8",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "E",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "I",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "T",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "V",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "W",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Y",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 12,
        "x": 1530,
        "y": 360,
        "wires": [
            [
                "efbe3f05.d87f2",
                "3b351db2.6a8832"
            ],
            [
                "a34e3d37.c0939"
            ],
            [
                "84deb30e.2da68",
                "9f3b97c9.4e4fe8"
            ],
            [
                "b42404c3.ad47c8",
                "3c5278cd.ca2a78",
                "7e0e682f.5b34a8"
            ],
            [
                "e9c8c4ea.a08158",
                "6cc6d902.576598"
            ],
            [
                "c8b01438.50c4f8",
                "22c26e7c.acbc12"
            ],
            [
                "4cf2931f.a6b6fc",
                "a8c00bf5.937f48"
            ],
            [
                "4df96f3.1727b9",
                "d6756a8c.6a8ee8"
            ],
            [
                "cab7e49e.1f8b68",
                "db424521.23c928"
            ],
            [
                "33f8c2c3.008bee",
                "ff72ff6f.df808"
            ],
            [
                "5bc571d1.43af",
                "b7dc68c4.dcdc98"
            ],
            [
                "2133a47e.5d109c",
                "83b06089.5c7af"
            ]
        ]
    },
    {
        "id": "33f8c2c3.008bee",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 500,
        "wires": []
    },
    {
        "id": "5bc571d1.43af",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 540,
        "wires": []
    },
    {
        "id": "4cf2931f.a6b6fc",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "T",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 380,
        "wires": []
    },
    {
        "id": "c8b01438.50c4f8",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "I",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 340,
        "wires": []
    },
    {
        "id": "cab7e49e.1f8b68",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "W",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 460,
        "wires": []
    },
    {
        "id": "84deb30e.2da68",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 220,
        "wires": []
    },
    {
        "id": "efbe3f05.d87f2",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "A",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 140,
        "wires": []
    },
    {
        "id": "a34e3d37.c0939",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 180,
        "wires": []
    },
    {
        "id": "b42404c3.ad47c8",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "E",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf0ea885.b26888",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode response",
        "func": "var raw = msg.payload;\n\nif(raw.length > 1) {\n    msg.message = raw.substr(0, 1);\n    \n    var n = raw.indexOf(\"Z\");\n    var trimmed = raw;\n    if(n != -1) {\n        trimmed = raw.substring(1, n - 1);\n    }\n    else {\n        trimmed = raw.substring(1, raw.length - 1);\n    }\n    \n    msg.parameters = trimmed.split(\",\");\n}\n\nmsg.payload = raw;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 220,
        "wires": [
            [
                "d2eeaa0a.f44ab8",
                "edd54130.402e4",
                "a0467867.1033e8",
                "5b7a230a.cce58c"
            ]
        ]
    },
    {
        "id": "edd54130.402e4",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1430,
        "y": 220,
        "wires": []
    },
    {
        "id": "f6b97fc6.07873",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Initialize Raw",
        "topic": "",
        "payload": " ",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1710,
        "y": 80,
        "wires": [
            [
                "1f325fe7.4f74"
            ]
        ]
    },
    {
        "id": "2133a47e.5d109c",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Unknown",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2140,
        "y": 580,
        "wires": []
    },
    {
        "id": "411c53b4.5f7cbc",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 620,
        "wires": []
    },
    {
        "id": "ff72ff6f.df808",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Temperature (X)",
        "func": "var targetTemp = msg.parameters[0];\nvar currentTemp = msg.parameters[1];\n\n// Grainfather set target temp to 120 °C during boil\nif(targetTemp > 100.0) {\n    targetTemp = 100.0;\n}\n\nvar payload = {};\ntemperature_unit = flow.get('temperature_unit');\nif(temperature_unit === 'F') {\n    targetTemp = (targetTemp * 9 / 5) + 32;\n    currentTemp = (currentTemp * 9 / 5) + 32;\n}\n\npayload.temperature_unit = temperature_unit;\npayload.targetTemp = Number(targetTemp).toFixed(0);\npayload.currentTemp = Number(currentTemp).toFixed(1);\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1930,
        "y": 1120,
        "wires": [
            [
                "a8a28b0b.dc3ba8"
            ]
        ]
    },
    {
        "id": "a8c00bf5.937f48",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Timer (T)",
        "func": "function zeropad(num) {\n    var s = \"0\" + num;\n    return s.substr(s.length - 2);\n}\n\nconst timerActive = Boolean(msg.parameters[0] === \"1\");\nconst timerPaused = flow.get('timer_paused');\nvar timerElapsed = false;\nvar timerLeftMins = 0;\nvar timerStartMins = 0;\nvar timerLeftSecs = 0;\nvar timerTitle = \" \";\nvar timerFormatted = \"--\";\n\nflow.set('timer_active', timerActive);\ntimerLeftSecs = Number(msg.parameters[3]);\ntimerLeftMins = Number(msg.parameters[1]) - 1 + Math.floor(timerLeftSecs / 60);\ntimerStartMins = Number(msg.parameters[2]);\n    \ntimerLeftSecs = timerLeftSecs % 60;\nif(timerLeftMins < 0) {\n    timerLeftMins = 0;\n}\n\nif(timerActive || timerLeftMins > 0 || timerLeftSecs > 0) {\n    if(timerLeftMins <= 59) {\n        //timerFormatted = \"MM:SS\";\n        if(timerLeftMins === 0 && timerLeftSecs === 0) {\n            timerElapsed = true;\n        }\n        timerFormatted = timerLeftMins.toString() + \":\" + zeropad(timerLeftSecs);\n    }\n    else {\n        //timerFormatted = \"H:MM:SS\";\n        var hours = Math.floor(timerLeftMins / 60);\n        var mins = timerLeftMins % 60;\n        timerFormatted = hours.toString() + \":\" + zeropad(mins) + \":\" + zeropad(timerLeftSecs);\n    }\n}\n\nflow.set('timer_elapsed', timerElapsed);\nflow.set('timer_start_mins', timerStartMins);\nflow.set('timer_left_mins', timerLeftMins);\nflow.set('timer_left_secs', timerLeftSecs);\n\nmsg.payload = {\n    'timervalue':timerFormatted,\n    'timerleftmins':timerLeftMins,\n    'timerleftmecs':timerLeftSecs,\n    'timerstartmins':timerStartMins,\n    'timeractive':timerActive,\n    'timerpaused':timerPaused,\n    'timerelapsed':timerElapsed};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1930,
        "y": 780,
        "wires": [
            [
                "5ed27c8f.9e9694",
                "2113cd0f.134c52",
                "dc4d7b2d.61a548"
            ]
        ]
    },
    {
        "id": "b7dc68c4.dcdc98",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Status (Y)",
        "func": "const heatPower = Boolean(msg.parameters[0] === \"1\");\nconst pumpPower = Boolean(msg.parameters[1] === \"1\");\nconst autoMode = Boolean(msg.parameters[2] === \"1\");\nconst stageRamp = Boolean(msg.parameters[3] === \"1\");\nconst interactionMode = Boolean(msg.parameters[4] === \"1\");\nconst interactionCode = msg.parameters[5];\nconst stageNumber = Number(msg.parameters[6]);\nconst delayedHeat = Boolean(msg.parameters[7] === \"1\");\n\nvar interaction = \"\";\nswitch(interactionCode) {\n    case \"1\":\n        interaction = \"Add water\";\n        break;\n    case \"2\":\n        interaction = \"Add grain\";\n        break;\n    case \"3\":\n        interaction = \"Mash finished\";\n        break;\n    case \"4\":\n        interaction = \"Sparge\";\n        break;\n    case \"5\":\n        interaction = \"Boil reached\";\n        break;\n    case \"6\":\n        interaction = \"Boil finished\";\n        //interaction = \"Start hopstand\";\n        break;\n    case \"7\":\n        interaction = \"Hopstand finished\";\n        break;\n}\n\nmsg.payload = {\n    'heatpower':heatPower,\n    'pumppower':pumpPower,\n    'automode':autoMode,\n    'stageramp':stageRamp,\n    'interactionmode':interactionMode,\n    'interactioncode':interactionCode,\n    'interaction':interaction,\n    'stagenumber':stageNumber,\n    'delayedheat':delayedHeat\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1850,
        "y": 1280,
        "wires": [
            [
                "a8a972b4.9eef5",
                "2ceaf8ac.c4b598",
                "adfcc5a4.e6b1a8",
                "787fce9c.18755",
                "dcb368c9.45a218"
            ]
        ]
    },
    {
        "id": "77e120cb.3a7ec",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "group": "1df37c54.681d74",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Pump",
        "tooltip": "",
        "color": "#FFFFFF",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "P",
        "payloadType": "str",
        "topic": "",
        "x": 2430,
        "y": 1320,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "2752d604.f66c0a",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "group": "1df37c54.681d74",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Heat",
        "tooltip": "",
        "color": "#FFFFFF",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "",
        "x": 2430,
        "y": 1240,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "36967178.bc09fe",
        "type": "ui_level",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "order": 5,
        "width": 1,
        "height": 3,
        "name": "Heat Level",
        "label": "",
        "colorHi": "#00b33c",
        "colorWarn": "#00b33c",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "peaktime": 3000,
        "x": 2450,
        "y": 1020,
        "wires": []
    },
    {
        "id": "db424521.23c928",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Status (W)",
        "func": "const heatPowerPct = Number(msg.parameters[0]);\nconst timerPaused = Boolean(msg.parameters[1] === \"1\");\nconst stepMashMode = Boolean(msg.parameters[2] === \"1\");\nconst recipeInterrupted = Boolean(msg.parameters[3] === \"1\");\nconst manualPower = Boolean(msg.parameters[4] === \"1\");\nconst spargeWaterAlert = Boolean(msg.parameters[5] === \"1\");\n\nflow.set('timer_paused', timerPaused);\n\nnode.send([{'payload':heatPowerPct}, null, null, null, null, null]);\nnode.send([null, {'payload':timerPaused}, null, null, null, null]);\nnode.send([null, null, {'payload':stepMashMode}, null, null, null]);\nnode.send([null, null, null, {'payload':recipeInterrupted}, null, null]);\nnode.send([null, null, null, null, {'payload':manualPower}, null]);\nnode.send([null, null, null, null, null, {'payload':spargeWaterAlert}]);\n\nmsg.payload = {\n    'heatpowerpct':heatPowerPct,\n    'timerpaused':timerPaused,\n    'stepmashmode':stepMashMode,\n    'recipeinterrupted¨':recipeInterrupted,\n    'manualpower':manualPower,\n    'spargeWaterAlert':spargeWaterAlert\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1910,
        "y": 940,
        "wires": [
            [
                "c65e1ece.7d4d6",
                "8b92ed08.f1527",
                "e43ed08c.e0f55"
            ]
        ]
    },
    {
        "id": "a49530b4.09b39",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "order": 3,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Heat",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2530,
        "y": 960,
        "wires": []
    },
    {
        "id": "f693bae1.855238",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Format display",
        "func": "if(msg.payload === 0) {\n    msg.payload = \"Off\";\n}\nelse {\n    msg.payload = msg.payload + \"%\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380,
        "y": 960,
        "wires": [
            [
                "a49530b4.09b39"
            ]
        ]
    },
    {
        "id": "a8a972b4.9eef5",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "payload.heatpower",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2090,
        "y": 1240,
        "wires": [
            [
                "8bb616a.62b5ee8"
            ],
            [
                "bb2dab1a.27cec8"
            ]
        ]
    },
    {
        "id": "8bb616a.62b5ee8",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Heat On",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#DD0000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1220,
        "wires": [
            [
                "2752d604.f66c0a"
            ]
        ]
    },
    {
        "id": "bb2dab1a.27cec8",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Heat Off",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#595959",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1260,
        "wires": [
            [
                "2752d604.f66c0a"
            ]
        ]
    },
    {
        "id": "2ceaf8ac.c4b598",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "payload.pumppower",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2090,
        "y": 1320,
        "wires": [
            [
                "bb4f926c.9206e"
            ],
            [
                "eb1126f9.7cfe58"
            ]
        ]
    },
    {
        "id": "bb4f926c.9206e",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Pump On",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#00BB00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1300,
        "wires": [
            [
                "77e120cb.3a7ec"
            ]
        ]
    },
    {
        "id": "eb1126f9.7cfe58",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Pump Off",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "#595959",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1340,
        "wires": [
            [
                "77e120cb.3a7ec"
            ]
        ]
    },
    {
        "id": "24c60883.250118",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "d324d344.c9bec"
            ]
        ]
    },
    {
        "id": "26bae695.25082a",
        "type": "ui_switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "label": "Connect automatically",
        "tooltip": "",
        "group": "d9188a2e.55c2a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 860,
        "y": 320,
        "wires": [
            [
                "85a75268.f463e"
            ]
        ]
    },
    {
        "id": "bc38eefe.ada82",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "group": "d9188a2e.55c2a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "connect",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "2a13b630.b9e87a"
            ]
        ]
    },
    {
        "id": "c9ea0ca5.44f82",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "d9188a2e.55c2a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 580,
        "wires": []
    },
    {
        "id": "a0467867.1033e8",
        "type": "trigger",
        "z": "9dea0b26.bbbe98",
        "op1": "",
        "op2": "disconnected",
        "op1type": "nul",
        "op2type": "str",
        "duration": "15",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "disconnect after 15 secs",
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "5b7a230a.cce58c",
                "c9ea0ca5.44f82",
                "96f0c2.6fd37f4"
            ]
        ]
    },
    {
        "id": "5b7a230a.cce58c",
        "type": "trigger",
        "z": "9dea0b26.bbbe98",
        "op1": "connected",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "15",
        "extend": true,
        "units": "s",
        "reset": "disconnected",
        "bytopic": "all",
        "name": "connected",
        "x": 1010,
        "y": 640,
        "wires": [
            [
                "c9ea0ca5.44f82",
                "96f0c2.6fd37f4",
                "7d31754e.df9bcc"
            ]
        ]
    },
    {
        "id": "d9018eca.ca9e9",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Initialize",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "5e825722.30d588",
                "fbd65c91.f4f7a",
                "e2a4d62a.77bcd8"
            ]
        ]
    },
    {
        "id": "5e825722.30d588",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "disconnected",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disconnected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "c9ea0ca5.44f82",
                "853fd41f.fb4a28"
            ]
        ]
    },
    {
        "id": "2a13b630.b9e87a",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notify\":true,\"period\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "b79bbad8.1ee5f8"
            ]
        ]
    },
    {
        "id": "fbd65c91.f4f7a",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Set defaults",
        "func": "var defaults_set = flow.get('defaults_set') || false;\nif(defaults_set === false) {\n    flow.set('auto_connect', false);\n    flow.set('temperature_unit', 'C');\n    flow.set('defaults_set', true);\n    flow.set('pushover_enabled', false);\n}\n\nflow.set('timer_active', false);\nflow.set('timer_paused', false);\nflow.set('timer_elapsed', false);\nflow.set('timer_start_mins', 0);\nflow.set('timer_left_mins', 0);\nflow.set('timer_left_secs', 0);\nflow.set('sticky_boil_addition_alert', false);\nflow.set('sticky_temperature_alarm', false);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "96bf6cb3.8e68c",
                "d1a86442.7b18f8",
                "423b9d6f.4141d4",
                "e49595ca.f39708",
                "b610ed95.9bd7e"
            ]
        ]
    },
    {
        "id": "96bf6cb3.8e68c",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto_connect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "26bae695.25082a"
            ]
        ]
    },
    {
        "id": "4431c780.445d38",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Connect",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "b0c3c34b.8e94"
            ]
        ]
    },
    {
        "id": "b0c3c34b.8e94",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Auto connect",
        "func": "var auto_connect = flow.get('auto_connect') || false;\nvar connected = (flow.get('connection') === \"connected\") || false;\n\nif(auto_connect && !connected) {\n    msg.payload = \"auto connect\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "2a13b630.b9e87a"
            ]
        ]
    },
    {
        "id": "85a75268.f463e",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auto_connect",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "b0c3c34b.8e94"
            ]
        ]
    },
    {
        "id": "853fd41f.fb4a28",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "name": "BLE icon",
        "order": 1,
        "width": 1,
        "height": 1,
        "format": "<div>\n<ng-md-icon ng-if=\"msg.payload === 'connected'\" icon=\"bluetooth\" size=\"36\"></ng-md-icon>\n<!-- <ng-md-icon ng-if=\"msg.payload === 'disconnected'\" icon=\"bluetooth_disabled\" size=\"40\"></ng-md-icon> -->\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "96f0c2.6fd37f4",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "853fd41f.fb4a28"
            ]
        ]
    },
    {
        "id": "b79bbad8.1ee5f8",
        "type": "Generic BLE in",
        "z": "9dea0b26.bbbe98",
        "name": "Grainfather Read",
        "genericBle": "3f80edac.961f72",
        "useString": false,
        "notification": true,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "b3f2ec24.29c96",
                "24c60883.250118"
            ]
        ]
    },
    {
        "id": "bce0ab71.378748",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Format GF command",
        "func": "function pad(str) {\n    while(str.length < 19) {\n        str = str + \" \";\n    }\n    return str.substr(0, 19);\n}\n\nvar command = Buffer.from(pad(msg.payload)).toString('hex');\n\nvar payload = {\"0003cdd200001000800000805f9b0131\":command};\nmsg.payload = payload;\n//msg.payload = JSON.stringify(payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3500,
        "y": 1180,
        "wires": [
            [
                "fa3b9cc2.52978",
                "4af1ed2.902d914"
            ]
        ]
    },
    {
        "id": "28188956.6c5066",
        "type": "Generic BLE out",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "genericBle": "3f80edac.961f72",
        "x": 3870,
        "y": 1200,
        "wires": []
    },
    {
        "id": "fa3b9cc2.52978",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3750,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1f325fe7.4f74",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Clear All",
        "group": "321f8fea.8d69d",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Clear All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "",
        "x": 1880,
        "y": 80,
        "wires": [
            [
                "efbe3f05.d87f2",
                "a34e3d37.c0939",
                "84deb30e.2da68",
                "b42404c3.ad47c8",
                "c8b01438.50c4f8",
                "4cf2931f.a6b6fc",
                "cab7e49e.1f8b68",
                "33f8c2c3.008bee",
                "5bc571d1.43af",
                "2133a47e.5d109c",
                "e9c8c4ea.a08158",
                "4df96f3.1727b9"
            ]
        ]
    },
    {
        "id": "8a41ea03.659918",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Get current boil temp",
        "topic": "",
        "payload": "M",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3100,
        "y": 300,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "a8a28b0b.dc3ba8",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "1df37c54.681d74",
        "name": "Temperature",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<style>\n    .nr-dashboard-template h1 {\n    font-size: .875em;\n    font-weight: normal;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n    .nr-dashboard-template h2 {\n    font-size: 3.5em;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n   \n   div {\n    max-width: 100%;\n   }\n   \n   a:link {\n    color: white; \n    background-color: transparent; \n    text-decoration: none;\n}\n\na:visited {\n    color: white;\n    background-color: transparent;\n    text-decoration: none;\n}\n\n#Temperature-Display-Div {\n    visibility: visible;\n   }  \n</style>\n\n<div id = \"Temperature-Display-Div\">\n<h1>Temperature (°{{msg.payload.temperature_unit}})</h1>\n<h2>{{msg.payload.currentTemp}}</h2>\n<h1>&nbsp;</h1>\n<h1>Target (°{{msg.payload.temperature_unit}})</h1>\n<h2>{{msg.payload.targetTemp}}</h2>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2290,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "6cb11f95.fde87",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Send multiple commands",
        "func": "msg.payload.forEach(sendCommand);\n\nfunction sendCommand(item) {\n  node.send([{'payload':item}]);\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3090,
        "y": 1180,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "79bbb1df.ad06",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Get controller settings",
        "func": "msg.payload = ['g', 'X', 'M'];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1560,
        "y": 1040,
        "wires": [
            [
                "6cb11f95.fde87"
            ]
        ]
    },
    {
        "id": "7d31754e.df9bcc",
        "type": "delay",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1370,
        "y": 1040,
        "wires": [
            [
                "79bbb1df.ad06"
            ]
        ]
    },
    {
        "id": "4af1ed2.902d914",
        "type": "delay",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 3710,
        "y": 1200,
        "wires": [
            [
                "28188956.6c5066"
            ]
        ]
    },
    {
        "id": "e9c8c4ea.a08158",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "F",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 300,
        "wires": []
    },
    {
        "id": "4df96f3.1727b9",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "321f8fea.8d69d",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "V",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2130,
        "y": 420,
        "wires": []
    },
    {
        "id": "6cc6d902.576598",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Firmware (F)",
        "func": "var firmware = msg.parameters[0];\nmsg.payload = firmware;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d6756a8c.6a8ee8",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode voltage and units (V)",
        "func": "var voltage = msg.parameters[0];\nvar units = msg.parameters[1];\n\nnode.send([{'payload':voltage},null]);\nnode.send([null,{'payload':units}]);\n\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 1940,
        "y": 880,
        "wires": [
            [],
            [
                "91c7a2c6.a3d6d"
            ]
        ],
        "outputLabels": [
            "voltage",
            "units"
        ]
    },
    {
        "id": "91c7a2c6.a3d6d",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Set flow.temperature_unit",
        "func": "if(msg.payload === '0') {\n    flow.set('temperature_unit', 'F');\n}\nelse {\n    flow.set('temperature_unit', 'C');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2320,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "85deae7f.7cd6b",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "8225a265.09c9b",
        "name": "Timer",
        "order": 1,
        "width": 6,
        "height": 2,
        "format": "<style>\n    .nr-dashboard-template h1 {\n    font-size: .875em;\n    font-weight: normal;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n    .nr-dashboard-template h2 {\n    font-size: 3.5em;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n   \n   div {\n    max-width: 100%;\n   }\n   \n   a:link {\n    color: white; \n    background-color: transparent; \n    text-decoration: none;\n}\n\na:visited {\n    color: white;\n    background-color: transparent;\n    text-decoration: none;\n}\n\n.blinking {\n  animation: blinker 1s linear infinite;\n}\n\n@keyframes blinker {\n  50% {\n    opacity: 0;\n  }\n}\n#Timer-Display-Div-Static {\n    display: {{msg.payload.static}};\n   }  \n#Timer-Display-Div-Flashing {\n    display: {{msg.payload.flashing}};\n   }  \n</style>\n\n<div id = \"Timer-Display-Div-Static\">\n<h1>{{msg.payload.timertitle}}</h1>\n<h2>{{msg.payload.timervalue}}</h2>\n</div>\n<div id = \"Timer-Display-Div-Flashing\">\n<h1>{{msg.payload.timertitle}}</h1>\n<h2 class=\"blinking\">{{msg.payload.timervalue}}</h2>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2670,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9f4f2aaf.39d9a8",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Arrow Up",
        "group": "1df37c54.681d74",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "#595959",
        "icon": "expand_less",
        "payload": "U",
        "payloadType": "str",
        "topic": "",
        "x": 2920,
        "y": 920,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "b178a5fb.a4ab68",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Arrow Down",
        "group": "1df37c54.681d74",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "#595959",
        "icon": "expand_more",
        "payload": "D",
        "payloadType": "str",
        "topic": "",
        "x": 2930,
        "y": 960,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "8d412b05.7d2508",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Hide Raw Messages",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"GF_Connect_Raw_Messages\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 2360,
        "y": 140,
        "wires": [
            [
                "641fed3f.0bb3b4"
            ]
        ]
    },
    {
        "id": "641fed3f.0bb3b4",
        "type": "ui_ui_control",
        "z": "9dea0b26.bbbe98",
        "name": "Raw Messages Group",
        "x": 2620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bc89f6ab.f1fe48",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Show Raw Messages",
        "topic": "",
        "payload": "{\"group\":{\"show\":[\"GF_Connect_Raw_Messages\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2360,
        "y": 180,
        "wires": [
            [
                "641fed3f.0bb3b4"
            ]
        ]
    },
    {
        "id": "d1a86442.7b18f8",
        "type": "link out",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "b2f36278.67c2b",
            "9ba75d3a.6302f"
        ],
        "x": 575,
        "y": 360,
        "wires": []
    },
    {
        "id": "b2f36278.67c2b",
        "type": "link in",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "d1a86442.7b18f8"
        ],
        "x": 1915,
        "y": 1180,
        "wires": [
            [
                "bb2dab1a.27cec8",
                "eb1126f9.7cfe58",
                "599bb149.3e0ac",
                "ffdf3fe7.d5d46",
                "64ec676c.b5f938"
            ]
        ]
    },
    {
        "id": "e17eb87a.f8de18",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"timertitle\":\" \",\"timervalue\":\"--\",\"static\":\"inline\",\"flashing\":\"none\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 800,
        "wires": [
            [
                "85deae7f.7cd6b",
                "5585b0fa.07b77"
            ]
        ]
    },
    {
        "id": "9ba75d3a.6302f",
        "type": "link in",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "d1a86442.7b18f8"
        ],
        "x": 2155,
        "y": 840,
        "wires": [
            [
                "e17eb87a.f8de18",
                "8b92ed08.f1527",
                "e43ed08c.e0f55"
            ]
        ]
    },
    {
        "id": "599bb149.3e0ac",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"targetTemp\":\"--\",\"currentTemp\":\"--\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 1180,
        "wires": [
            [
                "a8a28b0b.dc3ba8"
            ]
        ]
    },
    {
        "id": "5ff76da9.ada754",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Simple test recipe",
        "func": "var testRecipe = [\n    \"R10,1,5,6,\", // 10 min boil, 1 mash step, 5L mash vol, 6 L sparge vol\n    \"0,0,0,0,0,\", // No water tratment alert, no sparge counter, no sparge alert, no delayed session, do not skip start\n    \"SIMPLE TEST\", // Name of recipe\n    \"0,1,0,0,\", // No hop stand, 1 boil addition, no boil power mode, no strike temp mode\n    \"5\", // Boil addition 1 at 5 mins remaining\n    \"25:5,\" // Mash step 1, 25°C for 5 mins\n    ];\nmsg.payload = testRecipe;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2510,
        "y": 320,
        "wires": [
            [
                "46b9479a.5828e8",
                "6cb11f95.fde87"
            ]
        ]
    },
    {
        "id": "b8df316.e3d76d",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2300,
        "y": 320,
        "wires": [
            [
                "5ff76da9.ada754"
            ]
        ]
    },
    {
        "id": "46b9479a.5828e8",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2750,
        "y": 320,
        "wires": []
    },
    {
        "id": "23588e4f.8411d2",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Set boil temp 33°C",
        "topic": "",
        "payload": "E33,",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3110,
        "y": 220,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "d25d9d1d.af548",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Set boil temp 99.5°C",
        "topic": "",
        "payload": "E99.5,",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3110,
        "y": 260,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "f5fa6744.cee1a8",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Test recipe with all enabled",
        "func": "var testRecipe = [\n    \"R10,2,5,6,\", // 10 min boil, 2 mash step, 5L mash vol, 6 L sparge vol\n    \"1,1,1,0,0,\", // Water tratment alert, Sparge counter, sparge alert, no delayed session, do not skip start\n    \"TEST WITH ALL\", // Name of recipe\n    \"5,1,0,0,\", // 5 min hop stand, 1 boil addition, no boil power mode, no strike temp mode\n    \"5\", // Boil addition 1 at 5 mins remaining\n    \"25:5,\", // Mash step 1, 25°C for 5 mins\n    \"28:5,\" // Mash step 1, 25°C for 5 mins\n    ];\nmsg.payload = testRecipe;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2500,
        "y": 360,
        "wires": [
            [
                "46b9479a.5828e8",
                "6cb11f95.fde87"
            ]
        ]
    },
    {
        "id": "281973ec.2a2b1c",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2300,
        "y": 360,
        "wires": [
            [
                "f5fa6744.cee1a8"
            ]
        ]
    },
    {
        "id": "3d45c775.350518",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Simple with delay recipe",
        "func": "var testRecipe = [\n    \"R10,1,5,6,\", // 10 min boil, 1 mash step, 5L mash vol, 6 L sparge vol\n    \"0,0,0,1,0,\", // No water tratment alert, no sparge counter, no sparge alert, delayed session, do not skip start\n    \"SIMPLE DELAY\", // Name of recipe\n    \"0,2,0,0,\", // No hop stand, 2 boil additions, no boil power mode, no strike temp mode\n    \"7\", // Boil addition 1 at 7 mins remaining\n    \"3\", // Boil addition 1 at 3 mins remaining\n    \"25:5,\", // Mash step 1, 25°C for 5 mins\n    \"4,60\" // Delay session 4:00\n    ];\nmsg.payload = testRecipe;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2530,
        "y": 400,
        "wires": [
            [
                "6cb11f95.fde87",
                "46b9479a.5828e8"
            ]
        ]
    },
    {
        "id": "665526a1.19c698",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2300,
        "y": 400,
        "wires": [
            [
                "3d45c775.350518"
            ]
        ]
    },
    {
        "id": "33b407ef.e8da98",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Delayed heat 4:00",
        "topic": "",
        "payload": "B4,60,",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3110,
        "y": 380,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "c85f3ea5.c0a8d",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Sparge progress 1",
        "topic": "",
        "payload": "b$1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3110,
        "y": 440,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "4acad1c8.831e7",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Sparge progress 2",
        "topic": "",
        "payload": "b$2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3110,
        "y": 480,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "25b410d4.baa87",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Cancel Timer",
        "topic": "",
        "payload": "C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3090,
        "y": 520,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "7d5e8b18.24e2f4",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Cancel or finish session",
        "topic": "",
        "payload": "F",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3100,
        "y": 580,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "485448e6.85e698",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Interaction complete",
        "topic": "",
        "payload": "I",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3090,
        "y": 620,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "ee14d066.4d833",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Reset recipe interrupted",
        "topic": "",
        "payload": "!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3110,
        "y": 680,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "2aac4ac.48a77b6",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Stop",
        "group": "8225a265.09c9b",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "{{textcolour}}",
        "bgcolor": "{{colour}}",
        "icon": "stop",
        "payload": "C",
        "payloadType": "str",
        "topic": "",
        "x": 2870,
        "y": 860,
        "wires": [
            [
                "1e826a71.5684b6"
            ]
        ]
    },
    {
        "id": "cf702677.f7dfa8",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Pause/Resume",
        "group": "8225a265.09c9b",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "{{textcolour}}",
        "bgcolor": "{{colour}}",
        "icon": "pause",
        "payload": "G",
        "payloadType": "str",
        "topic": "",
        "x": 2900,
        "y": 820,
        "wires": [
            [
                "1e826a71.5684b6"
            ]
        ]
    },
    {
        "id": "bc61b8e9.017228",
        "type": "link out",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "bad838db.5dd1c8"
        ],
        "x": 3380,
        "y": 440,
        "wires": []
    },
    {
        "id": "bad838db.5dd1c8",
        "type": "link in",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "links": [
            "bc61b8e9.017228"
        ],
        "x": 3355,
        "y": 1120,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "e43ed08c.e0f55",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Adjust stop button",
        "func": "const timerPaused = flow.get('timer_paused');\nconst timerActive = flow.get('timer_active');\n\nif(timerPaused || timerActive) {\n    msg.colour = \"#4B7930\";\n    msg.textcolour = \"#FFFFFF\"\n}\nelse {\n    msg.colour = \"#444444\";\n    msg.textcolour =\"#333333\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2610,
        "y": 860,
        "wires": [
            [
                "2aac4ac.48a77b6"
            ]
        ]
    },
    {
        "id": "8b92ed08.f1527",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Adjust pause/resume button",
        "func": "const timerPaused = flow.get('timer_paused');\nconst timerActive = flow.get('timer_active');\n\nmsg.label = \"Pause\";\nvar icon = \"pause\";\nif(timerPaused) {\n    msg.label = \"Resume\";\n    icon = \"play_arrow\";\n}\nconst ui_control = {'icon':icon};\nnode.send({'ui_control':ui_control});\n\nif(timerPaused || timerActive) {\n    msg.colour = \"#4B7930\";\n    msg.textcolour = \"#FFFFFF\"\n}\nelse {\n    msg.colour = \"#444444\";\n    msg.textcolour =\"#333333\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2640,
        "y": 820,
        "wires": [
            [
                "cf702677.f7dfa8"
            ]
        ]
    },
    {
        "id": "1e826a71.5684b6",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Timer enabled?",
        "func": "if(flow.get('timer_active') || flow.get('timer_paused')) {\n    if(flow.get('timer_elapsed')) {\n        msg.payload = \"T\"; // Pausing the timer when 0:00 causes wrap-around\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 3140,
        "y": 840,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "e9be2772.ca32c8",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "Reset controller",
        "topic": "",
        "payload": "Z",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3080,
        "y": 140,
        "wires": [
            [
                "bc61b8e9.017228"
            ]
        ]
    },
    {
        "id": "5ed27c8f.9e9694",
        "type": "rbe",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.timerelapsed",
        "x": 2550,
        "y": 700,
        "wires": [
            [
                "8a3dab2c.c628e8"
            ]
        ]
    },
    {
        "id": "8a3dab2c.c628e8",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Timer notification",
        "func": "if(msg.payload.timerelapsed) {\n    const pushEnabled = (flow.get('pushover_enabled'))||false;\n    if(pushEnabled) {\n        const key = flow.get('pushover_key');\n        const token = flow.get('pushover_token');\n        if(key && token && key.length && token.length) {\n            msg.headers = {};\n            msg.headers['Content-type'] = 'application/json';\n            msg.url = \"https://api.pushover.net/1/messages.json\";\n            const payload =  {\n                \"token\": token,\n                \"user\": key,\n                \"title\": \"GF Connect\",\n                \"message\": msg.payload.timertitle };\n            msg.payload = JSON.stringify(payload);\n\n            return msg;\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2910,
        "y": 760,
        "wires": [
            [
                "8aaa732b.a7ea2"
            ]
        ]
    },
    {
        "id": "5f6a18e9.fae918",
        "type": "ui_switch",
        "z": "9dea0b26.bbbe98",
        "name": "Pushover enabled",
        "label": "Enable Pushover notifications",
        "tooltip": "",
        "group": "486b3eb4.b3723",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "2fc03f42.298c2"
            ]
        ]
    },
    {
        "id": "423b9d6f.4141d4",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pushover_enabled",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "5f6a18e9.fae918"
            ]
        ]
    },
    {
        "id": "5bb09d60.6b9a14",
        "type": "ui_text_input",
        "z": "9dea0b26.bbbe98",
        "name": "Pushover User Key",
        "label": "User/Group Key [use RETURN to save]",
        "tooltip": "",
        "group": "486b3eb4.b3723",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": "0",
        "topic": "",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "aa059608.b2a398"
            ]
        ]
    },
    {
        "id": "e49595ca.f39708",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pushover_key",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "5bb09d60.6b9a14"
            ]
        ]
    },
    {
        "id": "aa4337fb.bb1708",
        "type": "ui_text_input",
        "z": "9dea0b26.bbbe98",
        "name": "Pushover API Token",
        "label": "Application Token [RETURN to save]",
        "tooltip": "",
        "group": "486b3eb4.b3723",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "password",
        "delay": "0",
        "topic": "",
        "x": 480,
        "y": 660,
        "wires": [
            [
                "3c324e7a.1b7882"
            ]
        ]
    },
    {
        "id": "b610ed95.9bd7e",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pushover_token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 660,
        "wires": [
            [
                "aa4337fb.bb1708"
            ]
        ]
    },
    {
        "id": "2fc03f42.298c2",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pushover_enabled",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "aa059608.b2a398",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pushover_key",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3c324e7a.1b7882",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pushover_token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8aaa732b.a7ea2",
        "type": "http request",
        "z": "9dea0b26.bbbe98",
        "name": "Send pushover notification",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 3160,
        "y": 760,
        "wires": [
            [
                "d1bb908b.cfcd6"
            ]
        ]
    },
    {
        "id": "ff7937eb.066718",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Test Message",
        "group": "486b3eb4.b3723",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Send Test Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2340,
        "y": 640,
        "wires": [
            [
                "bbc9daad.bd2c98"
            ]
        ]
    },
    {
        "id": "bbc9daad.bd2c98",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"timerelapsed\":\"true\",\"timertitle\":\"Test message\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2520,
        "y": 640,
        "wires": [
            [
                "8a3dab2c.c628e8"
            ]
        ]
    },
    {
        "id": "d1bb908b.cfcd6",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Pushower status",
        "func": "if (msg.payload.status) {\n    msg.payload = \"Status: OK\";\n}\nelse {\n    msg.payload = \"Error: \" + msg.payload.errors[0];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3390,
        "y": 760,
        "wires": [
            [
                "e2a4d62a.77bcd8"
            ]
        ]
    },
    {
        "id": "e2a4d62a.77bcd8",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "486b3eb4.b3723",
        "name": "Pushover status",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 460,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c791c4b0.9df1b8",
        "type": "json",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2630,
        "y": 1520,
        "wires": [
            [
                "ad8c0cc9.0c17c",
                "105c2bbe.fec7b4"
            ]
        ]
    },
    {
        "id": "61bfaf7a.88de3",
        "type": "file in",
        "z": "9dea0b26.bbbe98",
        "name": "Simple Test batch",
        "filename": "/home/pi/gfconnect-files/Brewfather_BATCH_16_SimpleTest_20200421.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 2450,
        "y": 1520,
        "wires": [
            [
                "c791c4b0.9df1b8"
            ]
        ]
    },
    {
        "id": "ee16d1ca.98a71",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2260,
        "y": 1520,
        "wires": [
            [
                "61bfaf7a.88de3"
            ]
        ]
    },
    {
        "id": "ad8c0cc9.0c17c",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2810,
        "y": 1480,
        "wires": []
    },
    {
        "id": "105c2bbe.fec7b4",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode batch",
        "func": "var recipe = msg.payload.recipe;\nvar mash = recipe.mash;\nvar boilSteps = msg.payload.boilSteps;\nvar boilTime = recipe.boilTime;\n\nvar brewSession = {\n    'recipeName':recipe.name,\n    'batchName':msg.payload.name,\n    'batchNumber':msg.payload.batchNo,\n    'mashWaterAmount':recipe.data.mashWaterAmount.toFixed(1),\n    'spargeWaterAmount':recipe.data.spargeWaterAmount.toFixed(1),\n    'boilStage':0,\n    'boilTime':recipe.boilTime,\n    'hopStandTime':recipe.hopStandMinutes,\n    'boilAdditions':[],\n    'mashSteps':[],\n    'stageTitles':[]\n}\n\nvar gfRecipe = [];\ngfRecipe[0] = \"R\" + recipe.boilTime.toString() + \",\" + mash.steps.length.toString() + \",\" + recipe.data.mashWaterAmount.toFixed(1).toString()  + \",\" + recipe.data.spargeWaterAmount.toFixed(1).toString() + \",\";\ngfRecipe[1] = \"0,0,0,0,0,\";\ngfRecipe[2] = recipe.name.toUpperCase();\ngfRecipe[3] = recipe.hopStandMinutes.toString() +\",\" + boilSteps.length.toString() + \",0,0,\";\nboilSteps.forEach(boilAdditions);\nfunction boilAdditions(value, index, array) {\n  gfRecipe[gfRecipe.length] = value.time.toString();\n  brewSession.boilAdditions[brewSession.boilAdditions.length] = value;\n}\nmash.steps.forEach(mashSteps);\nfunction mashSteps(value, index, array) {\n  gfRecipe[gfRecipe.length] = value.stepTemp.toString() + \":\" + value.stepTime.toString();\n  brewSession.mashSteps[brewSession.mashSteps.length] = value;\n  brewSession.stageTitles[brewSession.stageTitles.length] = value.name || \"Mash \" + (index + 1);\n}\nbrewSession.stageTitles[brewSession.stageTitles.length] = \"Sparge\";\nbrewSession.stageTitles[brewSession.stageTitles.length] = \"Boil\";\nbrewSession.boilStage = brewSession.stageTitles.length;\nif(recipe.hopStandMinutes > 0) {\n    brewSession.stageTitles[brewSession.stageTitles.length] = \"Hop Stand\";\n    brewSession.stageTitles[brewSession.stageTitles.length] = \" \"; //\"Hop Stand Finished\";\n}\nelse {\n    brewSession.stageTitles[brewSession.stageTitles.length] = \" \"; //\"Boil Finished\";\n}\nflow.set('brewSession', brewSession);\nmsg.payload = gfRecipe;\n\nreturn msg;\n\n/* \nsimpleRecipe = [\n    \"R10,1,5,6,\", // 10 min boil, 1 mash step, 5L mash vol, 6 L sparge vol\n    \"0,0,0,0,0,\", // No water tratment alert, no sparge counter, no sparge alert, no delayed session, do not skip start\n    \"SIMPLE TEST\", // Name of recipe\n    \"0,1,0,0,\", // No hop stand, 1 boil addition, no boil power mode, no strike temp mode\n    \"5\", // Boil addition 1 at 5 mins remaining\n    \"25:5,\" // Mash step 1, 25°C for 5 mins\n    ];\n    \nfullRecipe = [\n    \"R10,2,5,6,\", // 10 min boil, 2 mash step, 5L mash vol, 6 L sparge vol\n    \"1,1,1,0,0,\", // Water tratment alert, Sparge counter, sparge alert, no delayed session, do not skip start\n    \"TEST WITH ALL\", // Name of recipe\n    \"5,1,0,0,\", // 5 min hop stand, 1 boil addition, no boil power mode, no strike temp mode\n    \"5\", // Boil addition 1 at 5 mins remaining\n    \"25:5,\", // Mash step 1, 25°C for 5 mins\n    \"28:5,\" // Mash step 1, 25°C for 5 mins\n    ];\n\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 2860,
        "y": 1520,
        "wires": [
            [
                "1abae4a5.1b726b",
                "6cb11f95.fde87",
                "7567b57e.215ffc"
            ]
        ]
    },
    {
        "id": "1abae4a5.1b726b",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3070,
        "y": 1520,
        "wires": []
    },
    {
        "id": "82974fc4.a2c37",
        "type": "inject",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2240,
        "y": 1560,
        "wires": [
            [
                "766fcf49.37bc8"
            ]
        ]
    },
    {
        "id": "766fcf49.37bc8",
        "type": "file in",
        "z": "9dea0b26.bbbe98",
        "name": "Full Test batch",
        "filename": "/home/pi/gfconnect-files/Brewfather_BATCH_17_FullTest_20200421.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 2440,
        "y": 1560,
        "wires": [
            [
                "c791c4b0.9df1b8"
            ]
        ]
    },
    {
        "id": "5bbc7e72.79d51",
        "type": "exec",
        "z": "4d59d092.50859",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "e6de39b0.e2c978"
            ],
            [],
            []
        ]
    },
    {
        "id": "e6de39b0.e2c978",
        "type": "change",
        "z": "4d59d092.50859",
        "name": "split and filter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t    $files := [$split(payload, '\\n')[$ != \"\"]];\t    $count($env('EXTENSIONS')) = 0 ? [$files] : [$files[$split($, '.')[-1] in $env('EXTENSIONS')]];\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3e5f9707.3cbcf8",
        "type": "switch",
        "z": "4d59d092.50859",
        "name": "",
        "property": "$env('DIRECTORY')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "5bbc7e72.79d51"
            ],
            [
                "243593fa.446c6c"
            ]
        ]
    },
    {
        "id": "243593fa.446c6c",
        "type": "change",
        "z": "4d59d092.50859",
        "name": "DIRECTORY",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DIRECTORY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "5bbc7e72.79d51"
            ]
        ]
    },
    {
        "id": "8e9436.c8ad4bc8",
        "type": "http in",
        "z": "e3bbcfee.5583",
        "name": "",
        "url": "/fileupload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a5fd22db.a1ff",
                "eda77493.160fa8"
            ]
        ]
    },
    {
        "id": "f542afa3.fe31b",
        "type": "http response",
        "z": "e3bbcfee.5583",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "a615d763.141108",
        "type": "subflow:4d59d092.50859",
        "z": "e3bbcfee.5583",
        "name": "",
        "env": [
            {
                "name": "DIRECTORY",
                "type": "env",
                "value": "UPLOAD_DIR"
            },
            {
                "name": "EXTENSIONS",
                "type": "env",
                "value": "EXTENSIONS"
            }
        ],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "18e2d7a2.1f11e8"
            ]
        ]
    },
    {
        "id": "c72fdd04.282d1",
        "type": "link in",
        "z": "e3bbcfee.5583",
        "name": "refreshFileDropdown",
        "links": [
            "252d7ee3.50d102",
            "810b83f8.c78a8"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "a4d2786.8445e88"
            ]
        ]
    },
    {
        "id": "814a541f.60fb38",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedFile",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a5fd22db.a1ff",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "getFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & req.files[0].originalname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "7cccdb4c.b752b4"
            ]
        ]
    },
    {
        "id": "d39731ee.6d138",
        "type": "file",
        "z": "e3bbcfee.5583",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "91064a7c.e7d998"
            ]
        ]
    },
    {
        "id": "4b0b687b.777528",
        "type": "inject",
        "z": "e3bbcfee.5583",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "a4d2786.8445e88"
            ]
        ]
    },
    {
        "id": "79d99fc3.113a7",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "getSelectedFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Delete File ?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "a750d179.d77f1"
            ]
        ]
    },
    {
        "id": "623624a2.675eac",
        "type": "file",
        "z": "e3bbcfee.5583",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 830,
        "y": 220,
        "wires": [
            [
                "810b83f8.c78a8"
            ]
        ]
    },
    {
        "id": "a750d179.d77f1",
        "type": "ui_toast",
        "z": "e3bbcfee.5583",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "topic": "",
        "name": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "fb09307c.e4454"
            ]
        ]
    },
    {
        "id": "fb09307c.e4454",
        "type": "switch",
        "z": "e3bbcfee.5583",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "623624a2.675eac"
            ]
        ]
    },
    {
        "id": "45106c33.4e35d4",
        "type": "catch",
        "z": "e3bbcfee.5583",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "d51c2870.aabd78"
            ]
        ]
    },
    {
        "id": "a833de2c.ad871",
        "type": "ui_toast",
        "z": "e3bbcfee.5583",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "d51c2870.aabd78",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "getError",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "a833de2c.ad871"
            ]
        ]
    },
    {
        "id": "810b83f8.c78a8",
        "type": "link out",
        "z": "e3bbcfee.5583",
        "name": "refreshAfterDelete",
        "links": [
            "c72fdd04.282d1"
        ],
        "x": 1135,
        "y": 220,
        "wires": []
    },
    {
        "id": "252d7ee3.50d102",
        "type": "link out",
        "z": "e3bbcfee.5583",
        "name": "refreshAfterUpload",
        "links": [
            "c72fdd04.282d1"
        ],
        "x": 1135,
        "y": 340,
        "wires": []
    },
    {
        "id": "eda77493.160fa8",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'File ' & req.files[0].originalname & ' uploaded.'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "f542afa3.fe31b"
            ]
        ]
    },
    {
        "id": "a4d2786.8445e88",
        "type": "delay",
        "z": "e3bbcfee.5583",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a615d763.141108"
            ]
        ]
    },
    {
        "id": "c2346e4b.fa68e",
        "type": "watch",
        "z": "e3bbcfee.5583",
        "name": "",
        "files": "$(UPLOAD_DIR)",
        "recursive": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "a4d2786.8445e88"
            ]
        ]
    },
    {
        "id": "18e2d7a2.1f11e8",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7cccdb4c.b752b4",
        "type": "switch",
        "z": "e3bbcfee.5583",
        "name": "extensionAllowed ?",
        "property": "$env('EXTENSIONS')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "cont",
                "v": "$split(filename, '.')[-1]",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "d39731ee.6d138"
            ],
            [
                "d3f6a96f.dd3868"
            ]
        ]
    },
    {
        "id": "d3f6a96f.dd3868",
        "type": "function",
        "z": "e3bbcfee.5583",
        "name": "Error",
        "func": "node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n",
        "outputs": 0,
        "noerr": 0,
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "91064a7c.e7d998",
        "type": "change",
        "z": "e3bbcfee.5583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "252d7ee3.50d102"
            ]
        ]
    },
    {
        "id": "edc7b613.8fc7f8",
        "type": "catch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 3480,
        "y": 160,
        "wires": [
            [
                "1ca757a6.27f6f8",
                "f2849f20.9450f"
            ]
        ]
    },
    {
        "id": "23c2c997.36a156",
        "type": "ui_toast",
        "z": "9dea0b26.bbbe98",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 3890,
        "y": 160,
        "wires": []
    },
    {
        "id": "1ca757a6.27f6f8",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "getError",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3660,
        "y": 160,
        "wires": [
            [
                "23c2c997.36a156"
            ]
        ]
    },
    {
        "id": "8b08040.4b2ed",
        "type": "http in",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "url": "/brewfatherbatchupload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 1980,
        "y": 1660,
        "wires": [
            [
                "b85ecacf.a49298",
                "28602a88.72c406"
            ]
        ]
    },
    {
        "id": "6c693001.8e7f7",
        "type": "http response",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2430,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b399edae.cd45d",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "6500c5a.452263c",
        "name": "Upload Batch",
        "order": 1,
        "width": "9",
        "height": "3",
        "format": "<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/brewfatherbatchupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1940,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "b85ecacf.a49298",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "getFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "'/var/tmp/' & req.files[0].originalname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 1620,
        "wires": [
            [
                "26f65fbb.a3a83"
            ]
        ]
    },
    {
        "id": "28602a88.72c406",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'File ' & req.files[0].originalname & ' uploaded.'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1660,
        "wires": [
            [
                "6c693001.8e7f7"
            ]
        ]
    },
    {
        "id": "26f65fbb.a3a83",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "extensionAllowed ?",
        "property": "['json']",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "cont",
                "v": "$split(filename, '.')[-1]",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 2410,
        "y": 1620,
        "wires": [
            [
                "e8abea9e.6ada28"
            ],
            [
                "9a617b2a.53b128"
            ]
        ]
    },
    {
        "id": "9a617b2a.53b128",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Error",
        "func": "node.error(`Error: only JSON files are allowed.`, msg)\n",
        "outputs": 0,
        "noerr": 0,
        "x": 2630,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e8abea9e.6ada28",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Batch JSON",
        "func": "msg.payload = JSON.parse(msg.payload);\n\nif (msg.payload._type !== \"batch\") {\n    node.error(`Error: only Brewfather batch files are supported.`, msg)\n}\nelse {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2650,
        "y": 1600,
        "wires": [
            [
                "105c2bbe.fec7b4",
                "ad8c0cc9.0c17c"
            ]
        ]
    },
    {
        "id": "f2849f20.9450f",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 3650,
        "y": 200,
        "wires": []
    },
    {
        "id": "c65e1ece.7d4d6",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.heatpowerpct",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 980,
        "wires": [
            [
                "36967178.bc09fe",
                "f693bae1.855238"
            ]
        ]
    },
    {
        "id": "d324d344.c9bec",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Slice message stream",
        "func": "var buffer = context.get('overflow');\nconst template = {\"timestamp\":0, \"in\":\"\", \"out\":\"\", \"overflow\":\"\"};\nvar previous = flow.get('ble_messages') || [template, template, template, template, template];\nvar logMsg = template;\nconst newMsg = msg.payload.characteristics[\"0003cdd100001000800000805f9b0131\"].toString();\nif(buffer) {\n    buffer = buffer + newMsg;\n}\nelse {\n    buffer = newMsg;\n}\n\n// Clean start of buffer for garbage in case something got lost earlier\nwhile(\"0123456789,Z\".indexOf(buffer.substr(0,1)) !== -1) {\n    buffer = buffer.substr(1);\n}\n\nlogMsg.timestamp = msg.timestamp;\nlogMsg.in = newMsg;\n\nif(buffer.length >= 17) {\n    msg.payload = buffer.substr(0, 17);\n    const overflow = buffer.substr(17);\n    context.set('overflow', overflow);\n    \n    logMsg.out = msg.payload;\n    logMsg.overflow = overflow;\n    \n    // Re-synchronize in case something goes wrong\n    const end = msg.payload.substr(-1,1);\n    if(end !== \"Z\" && end !== \",\") {\n        logMsg.error = true;\n        node.send([null, {'error':logMsg, 'previous':previous}]);\n    }\n}\nelse {\n    if(buffer.substr(-1,1) === \"Z\") {\n        msg.payload = buffer;\n        logMsg.out = msg.payload;\n        context.set('overflow', null);\n    }\n    else {\n        msg.payload = null;\n        logMsg.out = null;\n        context.set('overflow', null);\n    }\n}\n\n//node.send([null, {'error':logMsg, 'previous':previous}]);\nprevious[previous.length] = logMsg;\nprevious.shift();\nflow.set('ble_messages',previous);\n\nif(msg.payload) {\n    node.send([msg, null]);\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "cf0ea885.b26888"
            ],
            [
                "d1590ab4.6fed78"
            ]
        ],
        "outputLabels": [
            "",
            "error"
        ]
    },
    {
        "id": "ffdf3fe7.d5d46",
        "type": "ui_text",
        "z": "9dea0b26.bbbe98",
        "group": "5a19c4db.dbdd2c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Stage Alert",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2550,
        "y": 1780,
        "wires": []
    },
    {
        "id": "5585b0fa.07b77",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "5a19c4db.dbdd2c",
        "name": "Brew Timer",
        "order": 2,
        "width": 6,
        "height": 2,
        "format": "<style>\n    .nr-dashboard-template h1 {\n    font-size: .875em;\n    font-weight: normal;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n    .nr-dashboard-template h2 {\n    font-size: 3.5em;\n    text-align: center;\n    margin-top: 0;\n    margin-bottom: 0;\n    }\n    \n   \n   div {\n    max-width: 100%;\n   }\n   \n   a:link {\n    color: white; \n    background-color: transparent; \n    text-decoration: none;\n}\n\na:visited {\n    color: white;\n    background-color: transparent;\n    text-decoration: none;\n}\n\n.blinking {\n  animation: blinker 1s linear infinite;\n}\n\n@keyframes blinker {\n  50% {\n    opacity: 0;\n  }\n}\n#Timer-Display-Div-Static {\n    display: {{msg.payload.static}};\n   }  \n#Timer-Display-Div-Flashing {\n    display: {{msg.payload.flashing}};\n   }  \n</style>\n\n<div id = \"Timer-Display-Div-Static\">\n<h1>{{msg.payload.timertitle}}</h1>\n<h2>{{msg.payload.timervalue}}</h2>\n</div>\n<div id = \"Timer-Display-Div-Flashing\">\n<h1>{{msg.payload.timertitle}}</h1>\n<h2 class=\"blinking\">{{msg.payload.timervalue}}</h2>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2810,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "adfcc5a4.e6b1a8",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "Active brew session",
        "property": "payload.automode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2080,
        "y": 1440,
        "wires": [
            [
                "2fb3cabe.8af616"
            ],
            [
                "64ec676c.b5f938"
            ]
        ]
    },
    {
        "id": "2fb3cabe.8af616",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "brew_stage",
                "pt": "flow",
                "to": "payload.stagenumber",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"GF_Connect_Timer\"],\"show\":[\"GF_Connect_Brew_Session\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2340,
        "y": 1420,
        "wires": [
            [
                "3ab32ce6.cf1a74"
            ]
        ]
    },
    {
        "id": "3ab32ce6.cf1a74",
        "type": "ui_ui_control",
        "z": "9dea0b26.bbbe98",
        "name": "Timer or Brew Session",
        "events": "all",
        "x": 2580,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "64ec676c.b5f938",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"GF_Connect_Brew_Session\"],\"show\":[\"GF_Connect_Timer\"]}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "brew_stage",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2340,
        "y": 1460,
        "wires": [
            [
                "3ab32ce6.cf1a74"
            ]
        ]
    },
    {
        "id": "b6bb3cce.52cbc",
        "type": "ui_template",
        "z": "9dea0b26.bbbe98",
        "group": "5a19c4db.dbdd2c",
        "name": "Brew Session Name",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n#BrewSession-Div {\n    visibility: visible;\n    text-align: center;\n   }  \n</style>\n\n<div id = \"BrewSession-Div\">\n    <p>{{msg.payload.batchName}} #{{msg.payload.batchNumber}} - {{msg.payload.recipeName}}\n    </p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 3340,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "7567b57e.215ffc",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "brewSession",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 1420,
        "wires": [
            [
                "b6bb3cce.52cbc"
            ]
        ]
    },
    {
        "id": "9f3b97c9.4e4fe8",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode boil temperature (C)",
        "func": "var boilTemp = msg.parameters[0];\n\ntemperature_unit = flow.get('temperature_unit');\nif(temperature_unit === 'F') {\n    boilTemp = (boilTemp * 9 / 5) + 32;\n}\n\nvar payload = {};\npayload.temperature_unit = temperature_unit;\npayload.boilTemp = Number(boilTemp).toFixed(1);\n\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "22c26e7c.acbc12",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Decode interaction code (I)",
        "func": "var interaction = msg.parameters[0];\nswitch(interaction) {\n    case \"C\":\n        msg.payload = \"interaction_cleared\";\n        break;\n        \n    default:\n        msg.payload = interaction;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1620,
        "y": 1500,
        "wires": [
            [
                "787fce9c.18755",
                "276d2c11.6ef0b4"
            ]
        ]
    },
    {
        "id": "d68334f5.3ad848",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Format brew session alert",
        "func": "const interactionCode = msg.payload.interactioncode || 0;\nconst interactionMode = msg.payload.interactionmode || false;\nconst boilAdditionAlert = msg.payload === \"boil_addition_alert\" || false;\nconst temperatureAlarm = msg.payload === \"temperature_alarm\" || false;\nconst brewSession = flow.get(\"brewSession\");\nvar payload = \"\";\nvar dismissCode = \"T\";\nvar buttonTitle = \"\";\nconst minsLeft = flow.get('timer_left_mins');\n\nfunction boilAdditionForMin(value, index, array) {\n  return value.time === minsLeft;\n}\n\nflow.set('interaction_mode', interactionMode);\n\nif(boilAdditionAlert) {\n    var boilAddition = brewSession.boilAdditions.find(boilAdditionForMin);\n\n    if(boilAddition) {\n        payload = \"Add \" + minsLeft + \" min boil additions: \" + boilAddition.name;\n    }\n    else {\n        payload = \"Add \" + minsLeft + \" min boil additions\";\n    }\n    dismissCode = \"A\";\n    buttonTitle = \"Dismiss Alert\";\n}\nelse {\n    dismissCode = \"T\";\n    if(temperatureAlarm) {\n        buttonTitle = \"Dismiss Temperature Alarm\";\n    }\n    else {\n        switch(interactionCode) {\n            case \"1\":\n                payload = \"Add \" + brewSession.mashWaterAmount + \" L water\";\n                buttonTitle = \"Start Heating\";\n                break;\n            case \"2\":\n                payload = \"Add grain\";\n                buttonTitle = \"Start Mash\";\n                break;\n            case \"3\":\n                payload = \"Mash finished\";\n                buttonTitle = \"Start Sparge\";\n                break;\n            case \"4\":\n                payload = \"Sparge volume \" + brewSession.spargeWaterAmount + \" L\";\n                buttonTitle = \"Skip to Boil\";\n                break;\n            case \"5\":\n                payload = \"Boil reached\";\n                buttonTitle = \"Start Boil Timer\";\n                break;\n            case \"6\":\n                if(brewSession.hopStandTime) {\n                    payload = \"Add hops\"\n                    buttonTitle = \"Start Hop Stand Timer\";\n                }\n                else {\n                    payload = \"Boil finished\";\n                    buttonTitle = \"Finish Brew Session\";\n                }\n                break;\n            case \"7\":\n                payload = \"Hop stand finished\";\n                buttonTitle = \"Finish Brew Session\";\n                break;\n            default:\n                if(flow.get('timer_elapsed')) {\n                    buttonTitle = \"Boil Timer Elapsed\";\n                }\n                else {\n                    dismissCode = \"\";\n                }\n        }\n    }\n}\n\nflow.set('alert_dismiss_code', dismissCode);\n\nif(buttonTitle) {\n    msg.colour = \"#4B7930\";\n    msg.textcolour = \"#FFFFFF\"\n}\nelse {\n    msg.colour = \"#333333\";\n    msg.textcolour =\"#333333\"\n}\n\nmsg.button_title = buttonTitle;\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2250,
        "y": 1800,
        "wires": [
            [
                "ffdf3fe7.d5d46",
                "6d170045.566eb"
            ]
        ]
    },
    {
        "id": "2113cd0f.134c52",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Set stage title",
        "func": "const brewSession = flow.get(\"brewSession\");\nconst stageNumber = flow.get('brew_stage');\n\nvar displayStatic = \"inline\";\nvar displayFlashing = \"none\";\n\nif(msg.payload.timerelapsed){\n    displayStatic = \"none\";\n    displayFlashing = \"inline\";\n}\n\nif(stageNumber > 0) {\n    msg.payload.timertitle = brewSession.stageTitles[stageNumber - 1];\n}\nelse {\n    msg.payload.timertitle = \"\";\n}\n\nmsg.payload.static = displayStatic;\nmsg.payload.flashing = displayFlashing;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2540,
        "y": 1100,
        "wires": [
            [
                "5585b0fa.07b77"
            ]
        ]
    },
    {
        "id": "dc4d7b2d.61a548",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Format timer",
        "func": "var timerTitle = \" \";\nvar displayStatic = \"inline\";\nvar displayFlashing = \"none\";\n\nif(msg.payload.timerelapsed){\n    displayStatic = \"none\";\n    displayFlashing = \"inline\";\n}\n\nif(msg.payload.timeractive) {\n    timerTitle = \"Timer active\";\n}\nif(msg.payload.timerpaused) {\n    timerTitle = \"Timer paused\";\n}\nif(msg.payload.timerelapsed) {\n    timerTitle = \"Timer elapsed\";\n}\n\nmsg.payload.static = displayStatic;\nmsg.payload.flashing = displayFlashing;\nmsg.payload.timertitle = timerTitle;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2330,
        "y": 760,
        "wires": [
            [
                "85deae7f.7cd6b",
                "8b92ed08.f1527",
                "e43ed08c.e0f55"
            ]
        ]
    },
    {
        "id": "6d170045.566eb",
        "type": "ui_button",
        "z": "9dea0b26.bbbe98",
        "name": "Dismiss Alert",
        "group": "5a19c4db.dbdd2c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.button_title}}",
        "tooltip": "",
        "color": "{{textcolour}}",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "alert_dismiss_code",
        "payloadType": "flow",
        "topic": "",
        "x": 2550,
        "y": 1820,
        "wires": [
            [
                "27bb0cb7.24f754"
            ]
        ]
    },
    {
        "id": "27bb0cb7.24f754",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Validate dismiss",
        "func": "const interactionMode = flow.get('interaction_mode') || false;\nconst stickyBoilAdditionAlert = flow.get('sticky_boil_addition_alert') || false;\nconst stickyTemperatureAlarm = flow.get('sticky_temperature_alarm') || false;\nconst timerElapsedAlarm = flow.get('timer_elapsed') || false;\n\nif(stickyBoilAdditionAlert && msg.payload == \"A\") {\n    flow.set('sticky_boil_addition_alert', false);\n    return msg;\n}\n\nif(stickyTemperatureAlarm && msg.payload == \"T\") {\n    flow.set('sticky_temperature_alarm', false);\n    return msg;\n}\n\nif(interactionMode && msg.payload === \"T\") {\n    return msg;\n}\n\nif(timerElapsedAlarm && msg.payload === \"T\") {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2740,
        "y": 1820,
        "wires": [
            [
                "bce0ab71.378748"
            ]
        ]
    },
    {
        "id": "3b351db2.6a8832",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Boil Addition Alert (A)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "boil_addition_alert",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 1740,
        "wires": [
            [
                "787fce9c.18755"
            ]
        ]
    },
    {
        "id": "787fce9c.18755",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Sticky alert",
        "func": "if(msg.payload === \"boil_addition_alert\") {\n    flow.set('sticky_boil_addition_alert', true);\n    return msg;\n}\nif(msg.payload === \"interaction_cleared\") {\n    flow.set('sticky_boil_addition_alert', false);\n}\nelse if(flow.get('sticky_boil_addition_alert') === false) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1910,
        "y": 1720,
        "wires": [
            [
                "276d2c11.6ef0b4"
            ]
        ]
    },
    {
        "id": "d1590ab4.6fed78",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "3c5278cd.ca2a78",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ble_messages",
                "pt": "msg",
                "to": "ble_messages",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 40,
        "wires": [
            [
                "3eedaa2c.774446"
            ]
        ]
    },
    {
        "id": "3eedaa2c.774446",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1890,
        "y": 40,
        "wires": []
    },
    {
        "id": "83b06089.5c7af",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ble_messages",
                "pt": "msg",
                "to": "ble_messages",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1940,
        "y": 620,
        "wires": [
            [
                "411c53b4.5f7cbc"
            ]
        ]
    },
    {
        "id": "7e0e682f.5b34a8",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "Decode Alarm (E)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 1800,
        "wires": [
            [
                "276d2c11.6ef0b4"
            ]
        ]
    },
    {
        "id": "276d2c11.6ef0b4",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Sticky temperature alarm",
        "func": "if(msg.payload === \"alarm\") {\n    const interactionMode = flow.get('interaction_mode');\n    const stageRamp = flow.get('stage_ramp');\n    const brewSession = flow.get('brewSession');\n    const stage = flow.get('brew_stage');\n    if(!interactionMode && stageRamp && (stage === brewSession.boilStage)) {\n        flow.set('sticky_temperature_alarm', true);\n        \n        msg.payload = \"temperature_alarm\";\n        return msg;\n    }\n}\nelse if(msg.payload === \"interaction_cleared\") {\n    flow.set('sticky_temperature_alarm', false);\n}\nelse if(flow.get('sticky_temperature_alarm') === false) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1910,
        "y": 1800,
        "wires": [
            [
                "d68334f5.3ad848",
                "fa9bca6f.4c65c8"
            ]
        ]
    },
    {
        "id": "dcb368c9.45a218",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stage_ramp",
                "pt": "flow",
                "to": "payload.stageramp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9bca6f.4c65c8",
        "type": "switch",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature_alarm",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2150,
        "y": 1920,
        "wires": [
            [
                "9d7dc8be.35b698"
            ]
        ]
    },
    {
        "id": "9d7dc8be.35b698",
        "type": "change",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stage_ramp",
                "pt": "msg",
                "to": "stage_ramp",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ble_messages",
                "pt": "msg",
                "to": "ble_messages",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "brew_stage",
                "pt": "msg",
                "to": "brew_stage",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "interaction_mode",
                "pt": "msg",
                "to": "interaction_mode",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sticky_temperature_alarm",
                "pt": "msg",
                "to": "sticky_temperature_alarm",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "timer_active",
                "pt": "msg",
                "to": "timer_active",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1920,
        "wires": [
            [
                "c810e6be.b74f58"
            ]
        ]
    },
    {
        "id": "c810e6be.b74f58",
        "type": "debug",
        "z": "9dea0b26.bbbe98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2490,
        "y": 1920,
        "wires": []
    },
    {
        "id": "6ec8c28c.5490bc",
        "type": "function",
        "z": "9dea0b26.bbbe98",
        "name": "Slice message stream (backup)",
        "func": "var buffer = context.get('overflow');\nconst template = {\"timestamp\":0, \"in\":\"\", \"out\":\"\", \"overflow\":\"\"};\nvar previous = flow.get('ble_messages') || [template, template, template, template, template];\nvar logMsg = template;\nconst newMsg = msg.payload.characteristics[\"0003cdd100001000800000805f9b0131\"];\nif(buffer) {\n    buffer = Buffer.concat([buffer, newMsg]);\n}\nelse {\n    buffer = newMsg;\n}\n\nlogMsg.timestamp = msg.timestamp;\nlogMsg.in = newMsg;\n\nif(buffer.length >= 17) {\n    msg.payload = buffer.slice(0, 16).toString();\n    const overflow = buffer.slice(17);\n    context.set('overflow', overflow);\n    \n    logMsg.out = msg.payload;\n    logMsg.overflow = overflow;\n    \n    // Re-synchronize in case something goes wrong\n    const end = msg.payload.substr(16,1);\n    const start = msg.payload.substr(0,1);\n    if((\"0123456789,Z\".indexof(start) !== -1) || (end !== \"Z\" && end !== \",\") ) {\n        logMsg.error = true;\n        node.send([null, {'error':logMsg, 'previous':previous}]);\n        context.set('overflow', null);\n    }\n}\nelse {\n    msg.payload = buffer.toString();\n    logMsg.out = msg.payload;\n    context.set('overflow', null);\n}\n\n//node.send([null, {'error':logMsg, 'previous':previous}]);\nprevious[previous.length] = logMsg;\nprevious.shift();\nflow.set('ble_messages',previous);\n\nnode.send([msg, null]);\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1010,
        "y": 60,
        "wires": [
            [],
            []
        ],
        "outputLabels": [
            "",
            "error"
        ]
    }
]